#book{
    border-radius:  75px;
    margin-top: 100;
    text-align: center;
    height:50px;
}
body{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background:linear-gradient(cyan, red);
}
.line {
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}
p{
    color:white;
}
h1{
    color:thistle;   
}
h2{
    color:thistle;
    font-family: 'Grey Qo', cursive;
    font-family:cursive;
}
h3{
    color:blue;
}

.links{
    float:left;
    padding-top: 5px;
    padding-left:25px;
    padding-right:10px;
}


.menu{
    list-style: none;
     font-family:cursive;
    float:right;
     top:10px;
     right:30px;
     cursor: pointer;
     color:black;
 }